@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Rubik Scribble', system-ui;
}

h1 {
    background-image: linear-gradient(to right, #6a97dd, #7498e1, #7f9ae5, #899be8, #949ceb);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    margin-top: 5rem;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
    /* opacity: 50%; */
    cursor: pointer;
    background-color: #2D2D2D;

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.message-box {
    margin-top: 5rem;
}

#msg {
    background-color: #0E0F18;
    color: #ffffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}